.block {
  display: block !important;
}

.section1 {
  overflow: hidden;
  padding: 12.5rem 0 6.25rem;
  border-bottom: 1px solid #e5e5e5;
}

.swiper-title {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4.063rem 2.5rem;
  color: #fff;
  font-size: 2.05rem;
  font-weight: 800;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.29) 87%,
    rgba(0, 0, 0, 0.45)
  );
  opacity: 1;
  // transform: translateY(50%);
  transition: all 1s ease-out;
  text-align: justify;
  line-height: 2.6rem;

  &::after {
    position: absolute;
    top: 0;
    left: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../../../public/images/il_ribbon.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }
}

.totalPic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 6.25rem);
  margin: 0 3.125rem;
  padding: 3.125rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.2s ease-out;
  transition-delay: 0.4s;

  .arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(../../../public/images/ic_more.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .num {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;

    &::before {
      content: "+";
    }
  }
}

@media screen and (max-width: 800px) {
  .section1 {
    padding: 9.5rem 0 2.5rem;
  }
}
