/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 12.8px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 11.52px;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 10.4px;
  }
}
@media screen and (max-width: 560px) {
  body {
    font-size: 10px;
  }
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: 5.625rem;
  border-bottom: 1px solid #15a775;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: top 0.4s;
  z-index: 1000;
}
header .logo {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 7rem;
}
header .logo img {
  height: 4.375rem;
}
header .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.625rem;
  margin: 0 auto;
}
header .gnb .depth-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}
header .gnb .depth-1 a {
  font-size: 1.125rem;
}
header .gnb .depth-1 > li {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 100%;
}
header .gnb .depth-1 > li:hover .depth-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .gnb .depth-1 > li:hover .depth-2 li a {
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}
header .gnb .depth-1 > li::after {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.6rem;
  background-image: url(../../../public/images/star.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
header .gnb .depth-2 {
  display: none;
  position: absolute;
  top: 100%;
  left: -1.35rem;
  width: 100%;
  text-align: center;
  padding: 1.2rem 0;
  border: 1px solid #15a775;
  border-top: none;
  border-radius: 0 0 0.6rem 0.6rem;
  background-color: #fff;
  z-index: 1000001;
}
header .utWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  right: 7rem;
  font-size: 1.125rem;
  z-index: 10000000;
}
header .utWrap .logWrap {
  font-size: 1rem;
}
header .utWrap .searchWrap {
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  margin-left: 0.6rem;
}
header .utWrap .searchWrap input {
  display: none;
  width: 0;
  transition: width 0.3s;
}
header .utWrap .searchWrap button {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(../../../public/images/search.png);
  background-position: center;
  background-size: cover;
  text-indent: -9999px;
}
header .utWrap .ham {
  display: none;
}

.scrollindicator {
  width: 100%;
  height: 0.313rem;
  display: block;
  position: absolute;
  left: 0;
  top: 5.625rem;
  cursor: pointer;
  visibility: hidden;
  background: transparent;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  z-index: 1000000;
  opacity: 0;
}

.scrollprogress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #15a775;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.allMenu_bg,
.allMenu {
  display: none;
}

@media screen and (max-width: 1024px) {
  header .logo {
    left: -0.125rem;
  }
  header .gnb {
    display: none;
  }
  header .utWrap {
    right: 1.875rem;
  }
  header .utWrap .logWrap {
    display: none;
  }
  header .utWrap .ham {
    display: block;
    position: relative;
    margin-left: 0.281rem;
    padding: 0.407rem 0.313rem;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 10001;
  }
  header .utWrap .ham.cross .bar:nth-of-type(1) {
    transform: translateY(0.525rem) rotate(-45deg);
  }
  header .utWrap .ham.cross .bar:nth-of-type(2) {
    opacity: 0;
  }
  header .utWrap .ham.cross .bar:nth-of-type(3) {
    background-color: #15a775;
    transform: translateY(-0.525rem) rotate(45deg);
  }
  header .utWrap .ham .bar {
    position: relative;
    display: block;
    width: 1.229rem;
    height: 0.125rem;
    border-radius: 100px;
    margin: 0 auto;
    background-color: #15a775;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .utWrap .ham .bar:nth-of-type(2) {
    margin: 0.407rem auto;
  }
  header .utWrap .ham .bar:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: #fff;
  }
  header .utWrap .ham .bar:nth-of-type(3)::before {
    display: block;
    width: 0.938rem;
    height: 0.127rem;
    border-radius: 100px;
    background-color: #15a775;
    content: "";
  }
  header .utWrap .ham .bar:nth-of-type(3)::after {
    display: block;
    width: 0.127rem;
    height: 0.127rem;
    border-radius: 100%;
    background-color: #15a775;
    content: "";
  }
  .allMenu_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 499;
  }
  .allMenu {
    position: fixed;
    top: 5.625rem;
    right: 0;
    width: 46.875rem;
    height: 100%;
    padding: 1.9rem 1.275rem;
    background-color: #fff;
    z-index: 1500;
  }
  .allMenu .log {
    margin: 0 0 4.4rem;
    border-radius: 10px;
    background-color: #eaf6eb;
  }
  .allMenu .log.loginWrap {
    background-image: url(../../../public/images/right.png);
    background-repeat: no-repeat;
    background-size: auto 1.5rem;
    background-position: calc(100% - 1.9rem) center;
  }
  .allMenu .log.loginWrap a {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1.713rem 1.9rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.025rem;
    font-weight: 500;
  }
  .allMenu .log.loginWrap a::before {
    width: 2.9rem;
    height: 2.9rem;
    margin-right: 0.275rem;
    background-image: url(../../../public/images/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    content: "";
  }
  .allMenu .anb .depth-1 > li + li {
    margin-top: 1.65rem;
    padding-top: 1.65rem;
    border-top: 1px solid #e5e5e5;
  }
  .allMenu .anb .depth-1 > li > a {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.65rem;
    font-weight: bold;
  }
  .allMenu .anb .depth-1 > li > a::before {
    display: inline-block;
    width: 1.65rem;
    height: 1.65rem;
    margin-right: 0.025rem;
    background-image: url(../../../public/images/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }
  .allMenu .anb .depth-2 {
    padding: 1.275rem 2.275rem 0;
  }
  .allMenu .anb .depth-2 li + li {
    margin-top: 0.9rem;
  }
  .allMenu .anb .depth-2 li a {
    color: #666;
    font-size: 1.025rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 800px) {
  header {
    height: 4.5rem;
  }
  header .logo {
    z-index: 10000001;
    background-size: auto 6.188rem;
  }
  header .logo img {
    height: 4rem;
  }
  header .utWrap {
    justify-content: flex-end;
    width: calc(100% - 3.75rem);
  }
  header .utWrap .searchWrap {
    width: 3rem;
    height: 3rem;
    margin-left: 0;
  }
  header .utWrap .searchWrap button {
    width: 3rem;
    height: 3rem;
  }
  header .utWrap .ham {
    padding: 0.813rem 0.625rem;
  }
  header .utWrap .ham.cross .bar:nth-of-type(1) {
    transform: translateY(0.725rem) rotate(-45deg);
  }
  header .utWrap .ham.cross .bar:nth-of-type(3) {
    background-color: #15a775;
    transform: translateY(-0.725rem) rotate(45deg);
  }
  header .utWrap .ham .bar {
    width: 2rem;
    height: 0.249rem;
  }
  header .utWrap .ham .bar:nth-of-type(2) {
    margin: 0.488rem auto;
  }
  header .utWrap .ham .bar:nth-of-type(3) {
    background-color: transparent;
  }
  header .utWrap .ham .bar:nth-of-type(3)::before {
    width: 1.6rem;
    height: 0.249rem;
  }
  header .utWrap .ham .bar:nth-of-type(3)::after {
    width: 0.269rem;
    height: 0.269rem;
  }
  header.active .logo {
    width: 2.5rem;
    margin-left: 20px;
    background-image: url(../../../public/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
  header.active .logo img {
    display: none;
  }
  header.active .searchWrap {
    display: flex;
    align-items: center;
    width: calc(100% - 6rem);
    height: 3rem;
    border-radius: 100px;
    border: solid 1px #c4c4c4;
  }
  header.active .searchWrap input {
    order: 1;
    display: block;
    width: calc(100% - 4.75rem);
    height: 100%;
    margin-right: 1rem;
    border: none;
    outline: none;
  }
  header.active .searchWrap button {
    order: 0;
    margin-left: 1rem;
  }
  .scrollindicator {
    top: 7.5rem;
  }
  .allMenu {
    top: 4.5rem;
    padding: 1.9rem 1.875rem;
    width: 100%;
  }
  .allMenu .log {
    margin: 0 0 3rem;
  }
  .allMenu .log.loginWrap {
    background-position: calc(100% - 2.5rem) center;
    background-size: auto 1rem;
  }
  .allMenu .log.loginWrap a {
    padding: 1.3rem 2rem;
    font-size: 1rem;
  }
  .allMenu .log.loginWrap a::before {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 0.875rem;
  }
  .allMenu .anb .depth-1 > li + li {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }
  .allMenu .anb .depth-1 > li > a {
    font-size: 1.35rem;
  }
  .allMenu .anb .depth-1 > li > a::before {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.625rem;
  }
  .allMenu .anb .depth-2 {
    padding: 0.875rem 2.875rem 0;
  }
  .allMenu .anb .depth-2 li + li {
    margin-top: 1.5rem;
  }
  .allMenu .anb .depth-2 li a {
    font-size: 1rem;
  }
}
.block {
  display: block;
}