.guideList {
  width: 100%;
  max-width: 97.25rem;
  margin: 0 auto;
  padding: 12.5rem 1.875rem 6.25rem;
  transition: max-width 0.4s;

  .subTitle {
    margin-bottom: 1.875rem;

    h3 {
      font-size: 3.75rem;
      font-weight: 800;
    }
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2.125rem);
    margin-left: -1.0625rem;
  }
}

.filter {
  margin-bottom: 1.25rem;

  p {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      display: inline-flex;
      align-items: center;

      &::after {
        width: 0.25rem;
        height: 0.25rem;
        margin: 0.5rem;
        border-radius: 100%;
        background-color: #c4c4c4;
        content: "";
      }

      a {
        color: #c4c4c4;
      }
    }
  }
}
