.section3 {
  .bg_wrap {
    padding: 6.25rem 4.5rem 4.5rem;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #fff9e2;
    background-image: url("https://semie.cooking/assets/images/common/bg_pattern.png");
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3.375rem;

    h3 {
      font-size: 3.75rem;
      font-weight: 800;
    }
  }

  .swiper-container-bg {
    overflow: hidden;
    position: relative;
    text-align: center;

    > img {
      width: 28.75rem;
      margin: 0 auto;
    }
  }

  .swiper-container-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(1840px - 704px);
    height: 100%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    margin: 0 auto !important;
    // gap: 130px;

    .swiper-slide {
      .img {
        display: flex;
        justify-content: center;
        margin: 0 30px;
        img {
          min-width: 204px;
          min-height: 204px;
          border-radius: 20px;
        }
      }
    }
  }

  .myfood {
    position: relative;
    width: 100%;

    > img {
      position: relative;
      height: 8.375em;
      margin-left: 3.125rem;
      vertical-align: middle;
      z-index: 10;
    }

    .myfoodBtnWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1.5rem 3.375rem 1.5rem 15.875rem;
      color: #fff;
      border-radius: 2.625rem;
      background-color: #fbb9bf;

      p {
        font-size: 1.5rem;
        font-weight: bold;
      }

      a {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 2.625rem;
        font-size: 1.125rem;
        font-weight: bold;
        color: inherit;

        img {
          margin-left: 5px;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 1.25rem;
          margin-top: -0.625rem;
          background-color: rgba(255, 255, 255, 0.6);
          content: "";
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .section3 {
    .bg_wrap {
      padding: 6.25rem 0 6.25rem 1.875rem;
      border-radius: 0;
      overflow: hidden;
    }

    .title {
      h3 {
        font-size: 2.1rem;
      }
    }

    .swiper-container-bg {
      > img {
        display: none;
      }
    }

    .swiper-container-box {
      position: static;
      width: 100%;
      transform: translate(0);
    }

    .myfood {
      display: none;
    }
  }
}
